/* 
	create by @onlyyouwa
	21/01/2016
*/
/* Variable */
/* Theme */
/* Mixins */
/* Html, Body */
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #999;
}
.page-login {
  height: auto;
  background-color: #efefef;
}
/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
/* Link */
a {
  font-weight: 300;
  color: #50a8e1;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}
a:hover,
a:focus,
a:focus {
  text-decoration: none;
}
/* Color */
.color-blue {
  color: #50a8e1;
}
/* Label */
label {
  font-weight: 400;
}
/* Alignment */
.center {
  text-align: center;
}
/* List */
ul {
  padding-left: 30px;
}
ul.color-set {
  list-style: none;
  padding-left: 0px;
}
ul.color-set > li {
  display: inline-block;
  width: 20%;
}
ul.color-set > li div {
  padding: 20px 0px;
  text-align: center;
  color: #fff;
}
/* Alert */
.alert {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #fff;
}
.alert-success {
  background-color: #2ecc71;
}
.alert-info {
  background-color: #00bcd4;
}
.alert-warning {
  background-color: #f1c40f;
}
.alert-danger {
  background-color: #e74c3c;
}
/* Progress bars */
.progress {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.progress-bar-success {
  background-color: #2ecc71;
}
.progress-bar-info {
  background-color: #00bcd4;
}
.progress-bar-warning {
  background-color: #f1c40f;
}
.progress-bar-danger {
  background-color: #e74c3c;
}
/* Box */
.box {
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box.box-stats {
  padding: 25px 20px;
  text-align: center;
}
.box.box-stats h2 {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 10px;
}
.box.box-stats h2 i {
  color: #50a8e1;
  font-size: 42px;
  line-height: 36px;
}
.box.box-stats span {
  color: #ccc;
}
.box.box-login {
  width: 360px;
  margin: 7% auto;
  /*padding: 15px 20px;*/
}
.box.box-login .box-header h3 {
  text-align: center;
}
.box .box-header {
  padding: 10px 20px;
}
.box .box-header h1,
.box .box-header h2,
.box .box-header h3,
.box .box-header h4 {
  margin: 0px;
}
.box .box-content {
  padding: 15px 20px;
  border-top: 1px solid #ddd;
}
/* Button */
.btn {
  padding: 8px 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
}
.btn.btn-primary {
  background-color: #3498db;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background-color: #2980b9;
}
.btn.btn-success {
  background-color: #2ecc71;
}
.btn.btn-info {
  background-color: #00bcd4;
}
.btn.btn-warning {
  background-color: #f1c40f;
}
.btn.btn-danger {
  background-color: #e74c3c;
}
/* Form */
.form-control {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
}
.form-control:focus {
  border-color: #50a8e1;
  box-shadow: none;
}
/* Error */
.err {
  text-align: center;
  margin: 7% auto;
}
.err h1,
.err h2 {
  font-weight: 300;
  color: #ccc;
}
.err h1 {
  font-size: 96px;
}
.err h2 {
  font-size: 48px;
}
/* Navbar & Header */
.navbar {
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}
header {
  margin-bottom: 25px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
header .main-menu {
  height: 76px;
}
header .main-menu > ul {
  list-style: none;
  padding-left: 0px;
  text-align: center;
}
header .main-menu > ul > li {
  display: inline-block;
  margin-right: 6px;
}
header .main-menu > ul > li > a {
  display: block;
  padding: 10px 15px 7px;
  color: #aaa;
}
header .main-menu > ul > li > a div i {
  font-size: 36px;
  line-height: 32px;
}
header .main-menu > ul > li:last-child {
  margin-right: 0px;
}
header .navbar {
  min-height: 40px;
}
header .navbar-brand {
  height: 40px;
  padding: 10px 15px;
}
header .nav > li > a {
  padding: 10px 15px;
}
header .nav > li > a .bubble {
  position: absolute;
  top: 6px;
  right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  font-size: 8px;
  line-height: 8px;
}
header .nav > li > a .bubble.bubble-noitem {
  top: 12px;
  right: 12px;
}
header .nav > li > a .bubble-primary {
  background-color: #3498db;
}
header .nav > li > a .bubble-info {
  background-color: #00bcd4;
}
header .nav > li > a .bubble-success {
  background-color: #2ecc71;
}
header .nav > li > a .bubble-warning {
  background-color: #f1c40f;
}
header .nav > li > a .bubble-danger {
  background-color: #e74c3c;
}
header .nav > li.has-image > a {
  padding: 9px 15px;
}
header .nav > li.has-image img {
  width: 22px;
  height: 22px;
  margin-right: 3px;
  border-radius: 50%;
}
header .dropdown-menu {
  border: 1px solid #efefef;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
header .dropdown-menu > li > a {
  font-weight: 300;
  color: #aaa;
  padding: 6px 15px;
}
header .dropdown-menu > li > span {
  padding: 3px 15px;
}
header .dropdown-menu .divider {
  background-color: #efefef;
  margin: 6px 0;
}
header .dropdown-menu.dropdown-list {
  padding: 0px;
  width: 240px;
}
header .dropdown-menu.dropdown-list > li {
  border-bottom: 1px solid #efefef;
}
header .dropdown-menu.dropdown-list > li:last-child {
  border-width: 0px;
}
header .dropdown-menu.dropdown-list > li:last-child a {
  text-align: center;
}
header .dropdown-menu.dropdown-list > li.empty {
  padding: 6px 15px;
  text-align: center;
  color: #ccc;
}
header .dropdown-menu.dropdown-list > li > a {
  padding: 8px 15px;
}
header .dropdown-menu.dropdown-list > li > a h5 {
  margin: 0px 0px 5px;
}
header .dropdown-menu.dropdown-list > li > a span {
  color: #ccc;
}
header .dropdown-menu.dropdown-list > li.new a {
  background-color: #fffbea;
}
header .navbar-form {
  margin-top: 6px;
  margin-bottom: 6px;
}
header .form-control {
  height: 28px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
  border: none;
}
header .form-control:focus {
  outline: none;
  box-shadow: none;
}
/* Theme */
.theme-default {
  background-color: #efefef;
}
.theme-default header > nav {
  background-color: #50a8e1;
}
.theme-default header .navbar-brand {
  color: #fff;
}
.theme-default header .nav > li > a {
  color: #fff;
}
.theme-default header .nav > li > a:hover,
.theme-default header .nav > li > a:focus,
.theme-default header .nav > li > a:active {
  background-color: #3d91c7;
}
.theme-default header .nav .open > a,
.theme-default header .nav .open > a:focus,
.theme-default header .nav .open > a:hover {
  background-color: #3d91c7;
}
.theme-default header .main-menu {
  background-color: #fff;
}
.theme-default header .main-menu > ul > li > a:hover,
.theme-default header .main-menu > ul > li > a:focus,
.theme-default header .main-menu > ul > li > a.active,
.theme-default header .main-menu > ul > li > a:active {
  color: #aaa;
  background-color: #f9f9f9;
  border-bottom: 3px solid #50a8e1;
}
