/* 
	create by @onlyyouwa
	21/01/2016
*/

/* Variable */
@backgroundColor: #efefef;
@borderColor: #ddd;
@menuLinkBackground: #f9f9f9;
@textColor: #999;
@subTextColor: #ccc;

@primaryColor: #3498db;
@successColor: #2ecc71;
@infoColor: #00bcd4;
@warningColor: #f1c40f;
@dangerColor: #e74c3c;
@darkPrimaryColor: #2980b9;
@darkSuccessColor: #27ae60;
@darkInfoColor: #02aabf;
@darkWarningColor: #f39c12;
@darkDangerColor: #c0392b;

/* Theme */
@mainColor: #50a8e1;
@menuBackgroundDefault: #fff;
@linkColorDefault: #aaa;
@navColor: #50a8e1;
@navDarkColor: #3d91c7;
@navLinkColor: #fff;
@linkColor: #50a8e1;

/* Mixins */
.BoxShadow() { box-shadow: 0 1px 1px rgba(0,0,0,0.1); }
.Transition() {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	transition: all .25s;
}
.BorderRadius(@px) {
	-webkit-border-radius: @px;
	-moz-border-radius: @px;
	border-radius: @px;
}

/* Html, Body */
html, body {
	height: 100%;
	width: 100%;
	font-family: 'Lato', helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: @textColor;
}
.page-login {
	height: auto;
	background-color: @backgroundColor;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

/* Link */
a {
	font-weight: 300;
	color: @linkColor;
	.Transition();
	&:hover,
	&:focus,
	&:focus {
		text-decoration: none;
	}
}

/* Color */
.color-blue {
	color: @mainColor;
}

/* Label */
label {
	font-weight: 400;
}

/* Alignment */
.center {
	text-align: center;
}

/* List */
ul {
	padding-left: 30px;
	&.color-set {
		list-style: none;
		padding-left: 0px;
		> li {
			display: inline-block;
			width: 20%;
			div {
				padding: 20px 0px;
				text-align: center;
				color: #fff;
			}
		}
	}
}

/* Alert */
.alert {
	.BorderRadius(3px);
	border: none;
	color: #fff;
}
.alert-success {
	background-color: @successColor;
}
.alert-info {
	background-color: @infoColor;
}
.alert-warning {
	background-color: @warningColor;
}
.alert-danger {
	background-color: @dangerColor;
}

/* Progress bars */
.progress {
	.BorderRadius(3px);
}
.progress-bar-success {
	background-color: @successColor;
}
.progress-bar-info {
	background-color: @infoColor;
}
.progress-bar-warning {
	background-color: @warningColor;
}
.progress-bar-danger {
	background-color: @dangerColor;
}

/* Box */
.box {
	background-color: #fff;
	margin-bottom: 20px;
	.BoxShadow();
	&.box-stats {
		padding: 25px 20px;
		text-align: center;
		h2 {
			font-size: 36px;
			font-weight: 300;
			margin-top: 0px;
			margin-bottom: 10px;
			i {
				color: @mainColor;
				font-size: 42px;
				line-height: 36px;
			}
		}
		span {
			color: @subTextColor;
		}
	}
	&.box-login {
		width: 360px;
		margin: 7% auto;
		/*padding: 15px 20px;*/
		.box-header {
			h3 {
				text-align: center;
			}
		}
	}
	.box-header {
		padding: 10px 20px;
		h1, h2, h3, h4 {
			margin: 0px;
		}
	}
	.box-content {
		padding: 15px 20px;
		border-top: 1px solid @borderColor;
	}
	.box-footer {
		padding: 10px 20px;
		border-top: 1px solid @borderColor;
	}
}

/* Button */
.btn {
	padding: 8px 25px;
	.BorderRadius(3px);
	border: none;
	&.btn-primary {
		background-color: @primaryColor;
		&:hover,
		&:focus {
			background-color: @darkPrimaryColor;
		}
	}
	&.btn-success {
		background-color: @successColor;
	}
	&.btn-info {
		background-color: @infoColor;
	}
	&.btn-warning {
		background-color: @warningColor;
	}
	&.btn-danger {
		background-color: @dangerColor;
	}
}

/* Form */
.form-control {
	.BorderRadius(3px);
	box-shadow: none;
	&:focus {
		border-color: @navColor;
		box-shadow: none;
	}
}

/* Error */
.err {
	text-align: center;
	margin: 7% auto;
	h1,
	h2 {
		font-weight: 300;
		color: @subTextColor;
	}
	h1 {
		font-size: 96px;
	}
	h2 {
		font-size: 48px;
	}
}

/* Navbar & Header */
.navbar {
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
}
header {
	margin-bottom: 25px;
	.BoxShadow();
	.main-menu {
		height: 76px;
		> ul {
			list-style: none;
			padding-left: 0px;
			text-align: center;
			> li {
				display: inline-block;
				margin-right: 6px;
				> a {
					display: block;
					padding: 10px 15px 7px;
					color: @linkColorDefault;
					div {
						i {
							font-size: 36px;
							line-height: 32px;
						}
					}
				}
				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
	.navbar {
		min-height: 40px;
	}
	.navbar-brand {
		height: 40px;
		padding: 10px 15px;
	}
	.nav > li {
		> a {
			padding: 10px 15px;
			.bubble {
				position: absolute;
				top: 6px;
				right: 10px;
				.BorderRadius(3px);
				padding: 3px;
				font-size: 8px;
				line-height: 8px;
				&.bubble-noitem {
					top: 12px;
					right: 12px;
				}
			}
			.bubble-primary {
				background-color: @primaryColor;
			}
			.bubble-info {
				background-color: @infoColor;
			}
			.bubble-success {
				background-color: @successColor;
			}
			.bubble-warning {
				background-color: @warningColor;
			}
			.bubble-danger {
				background-color: @dangerColor;
			}
		}
		&.has-image {
			> a {
				padding: 9px 15px;
			}
			img {
				width: 22px;
				height: 22px;
				margin-right: 3px;
				border-radius: 50%;
			}	
		}
	}
	.dropdown-menu {
		border: 1px solid #efefef;
		.BoxShadow();
		.BorderRadius(3px);
		> li {
			> a {
				font-weight: 300;
				color: @linkColorDefault;
				padding: 6px 15px;
			}
			> span {
				padding: 3px 15px;
			}
		}
		.divider {
			background-color: #efefef;
			margin: 6px 0;
		}
		&.dropdown-list {
			padding: 0px;
			width: 240px;
			> li {
				border-bottom: 1px solid #efefef;
				&:last-child {
					border-width: 0px;
					a {
						text-align: center;
					}
				}
				&.empty {
					padding: 6px 15px;
					text-align: center;
					color: @subTextColor;
				}
				> a {
					padding: 8px 15px;
					h5 {
						margin: 0px 0px 5px;
					}
					span {
						color: @subTextColor;
					}
				}
				&.new {
					a {
						background-color: #fffbea;
					}
				}
			}
		}
	}
	.navbar-form {
		margin-top: 6px;
		margin-bottom: 6px;
	}
	.form-control {
		height: 28px;
		.BorderRadius(3px);
		box-shadow: none;
		border: none;
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
}

/* Theme */
.theme-default {
	background-color: @backgroundColor;
	header {
		> nav {
			background-color: @navColor;		
		}
		.navbar-brand {
			color: @navLinkColor;
		}
		.nav > li > a {
			color: @navLinkColor;
			&:hover, 
			&:focus,
			&:active {
				background-color: @navDarkColor;
			}
		}
		.nav .open > a, 
		.nav .open > a:focus,
		.nav .open > a:hover {
			background-color: @navDarkColor;
		}
		.main-menu {
			background-color: #fff;
			> ul > li > a {
				&:hover,
				&:focus,
				&.active,
				&:active {
					color: @linkColorDefault;
					background-color: @menuLinkBackground;
					border-bottom: 3px solid @navColor;
				}
			}
		}
	}
}